* {
    font-family: 'Helvetica';
    transition: all 0.4s;
    user-select: none;
    
    background: white;
}

:root {
    --blk: rgb(78, 78, 78);
    --blkd: rgb(41, 41, 41);
}

#home button {
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 20px;
    width: 240px;
    background: #FFD45E;
    color: var(--blkd);
    font-size: 110%;
    font-weight: bold;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    transition: all 0.2s;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

#home button:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    color: #fff;
}

section {
    padding-bottom: 80px;
}

.card {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    width: 80%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 20px;
    min-height: 150px;
    margin-top: 25px;
}

/* screen 1 */

#home header {
    text-align: center;
}

#home h1 {
    margin-top: 30px;
    font-family: 'Anton';
    font-weight: lighter;
    font-size: 300%;
    color: var(--blk);
}

#home p {
    margin-top: 20px;
    font-size: 170%;
    font-weight: lighter;
    color: var(--blk);
}

#home img {
    padding: 20px;
    width: 130px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

#home img:hover {
    transform: rotate(360deg);
}

@media screen and (min-width: 900px) {
    #tabs {
        display: flex;
        width: 510px;
        margin: 0 auto;
        flex-wrap: wrap;
        align-items: stretch;
    }
}

/* screen 2 */


#features, #about, #changelog, #doc {
    min-height: 90vh;
    padding-top: 120px;
}

#features p, #doc p, #changelog p, #about p {
    text-align: center;
    color: var(--blk);
    font-size: 60%;
    background: #FFD45E;
    padding: 5px;
}

.card p {
    margin-top: 10px;
    background: #fff !important;
    font-size: 100% !important;
    line-height: 25px;
    text-align: left !important;
    padding: 0px !important;

}

#features header, #doc header, #changelog header, #about header  {
    position: fixed; 
    top: 0px;   
    font-family: 'Anton';
    font-weight: lighter;
    font-size: 190%;
    color: var(--blk);
    padding: 13px;
    padding-top: 8px;
    text-align: center;
    width: 100%;
    height: 62px;
    background: rgb(255, 255, 255);
}


#hm {
    /* display: */
    background: transparent;
    font-size: 78%;
    position: absolute;
    left: 60px;
    top: 30%;
}

#doc img {
    width: 100%;
}

#doc span {
    font-size: 110%;
    font-weight: bold;
    padding: 15px;
    /* margin-bottom: 15px; */
    display: block;
    line-height: 28px;
}

#doc ul {
    padding: 25px;
}

#doc li {
    line-height: 30px;
    margin-bottom: 15px;
}

table {
    overflow-x: scroll;
}

table, th, td {
    padding: 9px;
    line-height: 30px;
}

th {
    text-align: left;
    background: var(--blk);
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

#dwrap {
    max-width: 650px;
    display: block;
    margin: 0 auto;
}

#tabc {
    width: 100%;
    overflow: scroll;

}